.App {
    margin: 0%;
    padding: 0%;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: royalblue;
    background-image: url('./img/th1.jpg');
    background-size: 100% 100%; 
}

.App p {
    margin: 0.4rem;
    color: red;
}

.main-logo {
    height: 210px;
    width: 500px;
    background-color: rgba(188, 143, 143, 0.561);
}
  